.faq-container {
  position: relative;
  min-height: 100%;
  background-color: rgba(196, 25, 25, 0.8);
}

.faq-description {
  margin: 50px;
}

.faq-description-container {
  background-color: rgb(238, 221, 221);
  margin-left: 20%;
  margin-right: 20%;
}

.faq-collapsible-header {
  cursor: pointer;
  margin-bottom: 0px;
  color: firebrick;
}
.faq-collapsible-header2 {
  cursor: pointer;
  margin-bottom: 0px;
}

.faq-collapsible-level2 {
  margin-left: 20px;
}

.faq-answer-content {
  margin-left: 10px;
}

.dropdown-gear {
  position: fixed;
  top: 0px;
  right: 0px;
}

.youtube-embed {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}
